[submodule "pigfx"]
	path = pigfx
	url = https://github.com/fbergama/pigfx.git
	branch = RC2014
[submodule "Emulators/Rocket2014"]
	path = Emulators/Rocket2014
	url = https://github.com/trcwm/rocket2014.git
	branch = master
[submodule "Emulators/z80-machine"]
	path = Emulators/z80-machine
	url = https://github.com/BleuLlama/z80-machine.git
	branch = master
